<a [routerLink]="lessonLink" [ngClass]="{'is-active': isActive}" class="group">
    <div *ngIf="lesson !== null" [ngClass]="isLessonAvaiable ? 'avaiable' : 'unavaiable'" class="lesson-content">
        <span>
            {{ formatedDate }}
        </span>
        <div [ngClass]="{'bg-green-500': isActive}" class="rounded border border-gray-500 p-4 mt-2 group-hover:border-green-500">
            <header class="flex items-center justify-between">
                <span [ngClass]="{'text-blue-200': isActive, 'text-blue-500': !isActive, 'text-orange-400': !isLessonAvaiable}" class="text-sm font-medium">
                    <span class="ph-icon ph-smiley"></span>
                    {{contentText}}
                </span>
                <span [ngClass]="{'border-white': isActive, 'border-green-300': !isActive}" class="text-xs rounded px-2 py-[0.125rem] text-white border font-bold">
                    {{ lesson.type === 'live' ? 'Ao Vivo' : 'Aula liberada' }}
                </span>
            </header>

            <strong [ngClass]="{'text-white': isActive, 'text-gray-200': !isActive}" class="mt-5 block">
                {{lesson.title}}
            </strong>
        </div>
    </div>
</a>